@page "/leagues"
@using LigaHowden.Data


<div class="row mt-4">
    <div class="d-flex align-items-center">
        <h1>Ligas</h1>
        <NavLink href="@($"/leagues/add")" class="btn btn-primary my-6"><span class="oi oi-plus"></span></NavLink>
    </div>
</div>
<div class="row">
    <table class="table table-sm">
        <tr>
            <th>Nome</th>
            <th>Slug</th>
            <th>Ações</th>
        </tr>
        @foreach (var l in leagues)
        {
            <tr>
                <td>@l.Name</td>
                <td>@l.Slug</td>
                <td>
                    <NavLink href="@($"/leagues/{l.Slug}")">ver</NavLink>
                    <NavLink href="@($"/leagues/admin/{l.Slug}")">admin</NavLink>
                    <NavLink href="@($"/leagues/delete/{l.Slug}")">deletar</NavLink>
                </td>
            </tr>
        }
    </table>
</div>


@code{
    List<League> leagues;

    //load leagues from the server after page is loaded
    protected override async Task OnInitializedAsync()
    {
        LeagueService leaguesService = new();
        this.leagues = leaguesService.GetLeaguesResponse().Leagues;
    }
}
