@page "/leagues"
@using LigaHowden.Data.DomainModels
@using System.Text.Json
@using LigaHowden.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.Text.Json
@using static System.Net.WebRequestMethods
@inject LigaHowden.Services.LeagueService leagueService
@inject HttpClient _http
@inject ProtectedSessionStorage sessionStorage


<div class="row mt-4">
    <div class="d-flex align-items-center">
        <h1>Ligas</h1>
        <NavLink href="@($"/leagues/add")" class="btn btn-primary my-6"><span class="oi oi-plus"></span></NavLink>
    </div>
</div>
<div class="row">
    <table class="table table-sm">
        <tr>
            <th>Nome</th>
            <th>Slug</th>
            <th>Ações</th>
        </tr>
        @foreach (var l in leagues)
        {
            <tr>
                <td>@l.Name</td>
                <td>@l.Slug</td>
                <td>
                    <NavLink href="@($"/leagues/{l.Slug}")">ver</NavLink>
                    <NavLink href="@($"/leagues/admin/{l.Id}")">admin</NavLink>
                    <NavLink href="@($"/leagues/delete/{l.Id}")">deletar</NavLink>
                </td>
            </tr>
        }
    </table>
</div>


@code {
    List<League>? leagues = new List<League>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            leagues = await leagueService.GetLeaguesList();
            StateHasChanged();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        leagues = await leagueService.GetLeaguesList();
    }

}
